<form [formGroup]="countryFormV">
  <div class="input-group flex-nowrap mb-2">
    <span class="input-group-text">Kraj</span>
    <input type="text" class="form-control" placeholder="Nazwa" aria-label="Username" aria-describedby="addon-wrapping" formControlName="countryName"
           [(ngModel)]="name" [disabled]="viewMode">
  </div>
  <span *ngIf="getCountryNameControl()" style="color:red" class="input-group flex-nowrap mb-2"> Wartość dla nazwy kraju nie możeby być pusta</span>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Prefix</span>
    <input type="text" class="form-control" placeholder="Prefix" aria-label="Username" aria-describedby="addon-wrapping" formControlName="prefix"
           [disabled]="viewMode" [maxLength]="3" [minLength]="2" [(ngModel)]="prefix">
  </div>
  <span *ngIf="getPrefixConrol()" style="color:red" class="input-group flex-nowrap mb-2">Prefix nie może być pusty a liczba znaków nie może przekraczać 4</span>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Maska Kodu</span>
    <input type="text" class="form-control" placeholder="00-000" aria-label="Username" aria-describedby="addon-wrapping" formControlName="maskaKodu"
           [(ngModel)]="postMask" [disabled]="viewMode">
  </div>
  <span *ngIf="getMaskaKoduControl()" style="color:red" class="input-group flex-nowrap mb-2"> Maska kodu nie może być pusta i może składać się tylko z znaków "0", "A", "-"</span>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Maska GUS</span>
    <input type="text" class="form-control" placeholder="00000000000" aria-label="Username" formControlName="maskaGus"
           aria-describedby="addon-wrapping" [(ngModel)]="gusMask" [disabled]="viewMode">
  </div>
  <span *ngIf="getGusMakControl()" style="color:red" class="input-group flex-nowrap mb-2"> Maska kodu nie może być pusta i może składać się tylko z znaków "0", "A", "-"</span>
  <button class="btn btn-success me-3" (click)="save()" [hidden]="viewMode" [disabled]="countryFormV.invalid">Zatwierdź</button>
  <button class="btn btn-danger" [matDialogClose]="this">Anuluj</button>
</form>
