<div class="container">
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Numer Klienta</span>
    <input type="text" class="form-control" placeholder="000000000" aria-label="Username" [(ngModel)]="numerKlienta" [disabled]="true" aria-describedby="addon-wrapping">
  </div>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Nazwa</span>
    <input type="text" class="form-control" placeholder="Nazwa" aria-label="Username" [(ngModel)]="nazwa" [disabled]="viewMode" aria-describedby="addon-wrapping">
  </div>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Pesel</span>
    <input type="text" #peselInput class="form-control" placeholder="Pesel" (input)="onPeselCheanged(nipInput)" [disabled]="viewMode" [(ngModel)]="pesel"  aria-label="Username" aria-describedby="addon-wrapping">
    <span class="input-group-text">NIP</span>
    <input type="text" #nipInput class="form-control"  (input)="onNipCheanged(peselInput)" [disabled]="viewMode" [(ngModel)]="nip" placeholder="NIP" aria-label="Username" aria-describedby="addon-wrapping">
  </div>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">PPE</span>
    <input type="text" class="form-control" placeholder="0000000000" aria-label="Username" [disabled]="true" [(ngModel)]="ppe" aria-describedby="addon-wrapping">
  </div>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text me-5">
      <span class="me-2">Prosument</span>
      <mat-checkbox disabled></mat-checkbox>
    </span>
    <span class="input-group-text">Saldo</span>
    <input type="text" class="form-control text-end " [(ngModel)]="saldo" [disabled]="viewMode" placeholder="0.00" aria-label="Username" disabled="true"
           aria-describedby="addon-wrapping">
  </div>
  <label class="mb-1">Adres</label>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Adres</span>
    <input class="typeahead-format" type="text" class="form-control" [(ngModel)]="model" [disabled]="viewMode" [ngbTypeahead]="search"
           [resultFormatter]="formatter"/>
  </div>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Ulica</span>
    <input type="text" class="form-control" placeholder="Ulica" [(ngModel)]="ulica" [disabled]="viewMode" aria-label="Username" aria-describedby="addon-wrapping">
  </div>
  <hr>
  <label class="mb-1">Adres korespodencyjny</label>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Adres</span>
    <input class="typeahead-format" type="text" class="form-control" [(ngModel)]="concratorModel" [disabled]="viewMode" [ngbTypeahead]="search"
           [resultFormatter]="formatter"/>
  </div>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Ulica</span>
    <input type="text" class="form-control" placeholder="Ulica" aria-label="Username" [(ngModel)]="ulicaKores" [disabled]="viewMode" aria-describedby="addon-wrapping">
  </div>
</div>


<button [hidden]="viewMode" class="btn btn-success m-3" (click)="save()">Zatwierdź</button>
<button class="btn btn-danger m-3" mat-dialog-close="kontrahent-form">Anuluj</button>
