<form [formGroup]="formGroup">
  <div class="input-group flex-nowrap mb-2">
    <span class="input-group-text">Nazwa</span>
    <input type="text" class="form-control" placeholder="Nazwa" aria-label="Username" [(ngModel)]="name"
           [disabled]="viewMode" aria-describedby="addon-wrapping" formControlName="name">
  </div>
  <span *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched" class="input-group flex-nowrap mb-2" style="color:red;">Nazwa nie może być pusta</span>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">GUS</span>
    <input type="text" class="form-control" placeholder="00000" aria-label="Username" (change)="validate()"
           [disabled]="viewMode" aria-describedby="addon-wrapping" formControlName="gus">
  </div>
  <span *ngIf="formGroup.get('gus')?.invalid && formGroup.get('gus')?.touched" class="input-group flex-nowrap mb-2" style="color:red;">Gus nie może być pusta</span>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Poczta</span>
    <input type="text" class="form-control" placeholder="Poczta" aria-label="Username" [(ngModel)]="post"
           [disabled]="viewMode" aria-describedby="addon-wrapping" formControlName="post">
  </div>
  <span *ngIf="formGroup.get('post')?.invalid && formGroup.get('post')?.touched" class="input-group flex-nowrap mb-2" style="color:red;">Poczta nie może być pusta</span>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Rodzaj</span>
    <input type="text" class="form-control" placeholder="Poczta" aria-label="Username" [(ngModel)]="type"
           [disabled]="viewMode" aria-describedby="addon-wrapping" formControlName="type">
  </div>
  <span *ngIf="formGroup.get('type')?.invalid && formGroup.get('type')?.touched" class="input-group flex-nowrap mb-2" style="color:red;">Typ nie może być pusty</span>
  <div class="input-group flex-nowrap mb-3">
    <span class="input-group-text">Kod Pocztowy</span>
    <input type="text" class="form-control" placeholder="00-000" [maxLength]="6" [minLength]="5" [(ngModel)]="post_code"
           [disabled]="viewMode" aria-label="Username" aria-describedby="addon-wrapping" formControlName="post_code">
  </div>
  <span *ngIf="formGroup.get('post_code')?.invalid && formGroup.get('post_code')?.touched" class="input-group flex-nowrap mb-2" style="color:red;">Kod pczotowy nie może być pusty oraz musi być zgodna z formatem zdefiniowanym w kraju</span>
  <button class="btn btn-success me-3" [disabled]="formGroup?.invalid || disable"  [hidden]="viewMode" (click)="create()">Zatwierdź</button>
  <button class="btn btn-danger" [matDialogClose]="this">Anuluj</button>
</form>
